<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/404.css">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">DAILY JOURNAL</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home"><a href="/">HOME</a></li>
                <li id="about"><a href="/about">ABOUT US</a></li>
                <li id="contact"><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
    </nav>

<body>
    <div class="container">


        <div class="ag-page-404">
            <div class="ag-toaster-wrap">
                <div class="ag-toaster">
                    <div class="ag-toaster_back"></div>
                    <div class="ag-toaster_front">
                        <div class="js-toaster_lever ag-toaster_lever"></div>
                    </div>
                    <div class="ag-toaster_toast-handler">
                        <div class="ag-toaster_shadow"></div>
                        <div class="js-toaster_toast ag-toaster_toast js-ag-hide"></div>
                    </div>
                </div>

                <canvas id="canvas-404" class="ag-canvas-404"></canvas>
                <img class="ag-canvas-404_img"
                    src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/404-error-smoke-from-toaster/images/smoke.png">
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/404.js"></script>

        

<%- include("partials/footer") %> 